.batch-container {
  width: 80%;
  /* height: 250px; */
  padding: 10px;
}

.batch-column {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 150px;
}

.add-batch-btn {
  font-size: 60px;
  cursor: pointer;
  color: #78c2ad;
  transition: all 0.5s;
}

.add-batch-btn:hover {
  color: #a1d4c6;
}

.search-form-modal {
  display: flex;
  align-items: center;
  gap: 8px;
}

.searchbar {
  width: 380px;
}

.book-image {
  height: 167px;
  width: 128px;
}

.title-text {
  font-weight: 600;
  font-size: 14px;
}
