.author-text {
  font-size: 12px;
  font-style: italic;
  margin-top: -25px;
}

.btn-container {
  margin-top: 25px;
}

/* small version of PublishedBatch */

.batch-card-small {
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  padding: 10px;
  background-color: #eee;
}

.batch-card-small:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book-image-small {
  height: auto;
  width: 80px;
}

.book-row-small {
  height: 230px;
}

@media screen and (max-width: 1000px) {
  .book-row-small {
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .batch-btn-container {
    display: block;
  }
}
