.batch-container {
  width: 80%;
  padding: 10px;
}

.batch-column {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.add-batch-btn {
  font-size: 60px;
  cursor: pointer;
  color: #78c2ad;
  transition: all 0.5s;
}

.add-batch-btn:hover {
  color: #a1d4c6;
}

.search-form-modal {
  display: flex;
  align-items: center;
  gap: 8px;
}

.searchbar {
  width: 380px;
}

.book-container {
  position: relative;
}

.book-image {
  height: 167px;
  width: 128px;
}

.title-text {
  font-weight: 600;
  font-size: 14px;
}

.delete-icon {
  color: #fa5252;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

.delete-icon:hover {
  color: #ff8787;
}

/* CreateBatch general styles */
