/* .batch-container {
  padding: 10px;
  width: 100%;
} */

.author-text {
  font-size: 12px;
  font-style: italic;
  margin-top: -25px;
}

.btn-container {
  margin-top: 25px;
}

/* small version of PublishedBatch */

.book-image-small {
  height: auto;
  width: 80px;
}

.book-row-small {
  height: 210px;
}
