.batch-container {
  width: 80%;
  padding: 10px;
  background-color: #eee;
}

.batch-header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: #78c2ad;
  color: #fff;
  font-weight: 600;
}

.batch-column {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.edit-batch-title-btn {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  transition: all 0.5s;
}

.edit-batch-title-btn:hover {
  color: #a1d4c6;
}

.add-batch-btn {
  font-size: 60px;
  cursor: pointer;
  color: #78c2ad;
  transition: all 0.5s;
}

.add-batch-btn:hover {
  color: #a1d4c6;
}

.search-form-modal {
  display: flex;
  align-items: center;
  gap: 8px;
}

.searchbar {
  width: 380px;
}

.book-container {
  position: relative;
}

.book-image {
  /* height: 167px;
  width: 128px; */
  height: auto;
  width: 128px;
}

.title-text {
  font-weight: 600;
  font-size: 14px;
}

.delete-icon {
  color: #fa5252;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

.delete-icon:hover {
  color: #ff8787;
}
