.result {
  align-items: center;
  border: 0.5px solid #ccc;
  border-radius: 12px;
  padding: 8px;
}

.text-container {
  width: 100%;
}

.bold {
  font-weight: bolder;
}

.add-btn {
  align-self: center;
}

.result-image {
  height: 194px;
  width: 128px;
}
