.search-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-heading {
  margin-top: 24px;
  padding: 10px;
  border-bottom: black 1px solid;
}

.tag-container {
  padding: 20px;
  border-radius: 12px;
  background-color: #f2f9f7;
}

.tag-title {
  padding: 10px;
  margin-bottom: 16px;
  border-bottom: black 1px solid;
}

.tag-list {
  list-style: none;
  padding: 0;
}
