.comment-form-row {
  display: flex;
  gap: 0.5rem;
}

.message-input {
  flex-grow: 1;
  resize: none;
  height: 70px;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid #ddd;
  line-height: 1.4;
}

.comment {
  border: 2px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  background-color: #eee;
}

.comment-title-row {
  height: 35px;
  display: flex;
  justify-content: space-between;
  /* background-color: #78c2ad; */
  background-color: #5ca6b5;
  padding: 5px 12px;
  border-radius: 12px;
}

.comment-title {
  padding-top: 2px;
  color: #fff;
}

.comment-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-delete-btn {
  font-size: 24px;
  color: #ff6b6b;
  cursor: pointer;
}

.comment-content {
  padding-left: 8px;
}
