.background {
  background-image: url("../images/hero-small.jpg");
  height: 92.6vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  /* align-items: center; */
}

.sign-up-btn {
  margin-top: 50px;
  width: 200px;
}

.hero-title {
  font-size: 72px;
  padding: 12px;
  color: #fff;
}

/* logged in homepage */

.batch-link {
  text-decoration: none;
  color: #888;
}

.batch-link:hover {
  color: #888;
}

.newsfeed-container {
  padding: 20px;
  border-radius: 12px;
  height: 100%;
  /* background-color: #eee; */
  background-color: #f2f9f7;
}

.newsfeed-title {
  border-bottom: 1px solid black;
  padding: 16px;
  margin-bottom: 16px;
}

.newsfeed-subheading {
  font-weight: bold;
}

.newsfeed-text {
  font-size: 14px;
}

.newsfeed-image {
  width: 260px;
  height: auto;
}

@media screen and (max-width: 1400px) {
  .newsfeed {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .hero-title {
    font-size: 50px;
    color: #fff;
  }
}

@media screen and (max-width: 740px) {
  .hero-title {
    font-size: 38px;
    color: #fff;
  }
}

@media screen and (max-width: 560px) {
  .hero-title {
    font-size: 22px;
    color: #fff;
  }
}
