.background {
  background-image: url("../images/home2.jpg");
  height: 92.6vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-container {
  padding-top: 100px;
  align-items: center;
}

.sign-up-btn {
  margin-top: 50px;
  width: 200px;
}

.hero-title {
  font-size: 72px;
  padding: 12px;
  color: #fff;
}

/* logged in homepage */

.batch-link {
  text-decoration: none;
  color: #888;
}

.batch-link:hover {
  color: #888;
}

.newsfeed-container {
  padding: 20px;
  border-radius: 12px;
  height: 100%;
  /* background-color: #eee; */
  background-color: #f2f9f7;
}

.newsfeed-title {
  border-bottom: 1px solid black;
  padding: 16px;
  margin-bottom: 16px;
}

.newsfeed-subheading {
  font-weight: bold;
}

.newsfeed-text {
  font-size: 14px;
}

.newsfeed-image {
  width: 260px;
  height: auto;
}
