.background {
  background-image: url("../images/home2.jpg");
  height: 92.1vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* logged in homepage */

.batch-link {
  text-decoration: none;
  color: #888;
}

.batch-link:hover {
  color: #888;
}
